html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body, h1, h2, h3, p, ul {
    margin: 0;
}

h2 {
    font-size: 1.8rem;
}

ul {
    list-style: none;
    padding: 0;
}

.sidebar, .main-container, .main-footer {
    padding: 50px;
}

header {
    background-color: darkcyan;
    padding: 25px 50px;
    color: white;
    box-shadow: 0px 5px 5px rgba(5, 64, 75, .5);
    position: relative;
}

div#content {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    color: white;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main-footer {
    color: white;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* FORM STYLES */

form {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 50px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, textarea {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

form textarea {
    resize: none;
    height: 5em;
}

form label {
    font-size: 1.2rem;
    font-style: italic;
}

form .priority-btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}

form .priority-btn {
    font-size: 1rem;
    padding: 10px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
form .selected {
    background-color: white;
}

#item-submit {
    font-size: 1.5rem;
    height: 30%;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
}

/* PROJECT LIST STYLES */

.project-btn, #new-project-btn {
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.project-btn {
    background: none;
}
.project-btn:hover {
    background-color: rgb(110, 184, 187);
}
.project-btn:active {
    background-color: cadetblue;
}

#new-project-btn {
    background-color: rgb(25, 117, 94);
    box-shadow: 0px 3px 5px rgba(24, 76, 78, .8);
}
#new-project-btn:hover {
    background-color: rgb(32, 145, 116);
}
#new-project-btn:active {
    transform: translateY(3px);
    box-shadow: none;
}

/* TODO LIST STYLES */

#item-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 500px;
    overflow-y: auto;
    padding-right: 10px;
}

.item-card {
    padding: 15px;
    border: 1px black solid;
    border-radius: 3px;
    display: flex;
    gap: 20px;
}
.high-priority {
    border: 2px rgb(0, 60, 255) solid;
}
.med-priority {
    border: 2px rgb(126, 156, 255) solid;
}
.low-priority {
    border: 2px rgb(192, 207, 255) solid;
}
.completed {
    border: 2px black solid;
}

.delete-btn {
    margin-left: auto;
    font-size: 1rem;
}